%h1 sinavote
%table
  %thead
    %tr
      %th URI
      %th Rating
      %th Comments
  %tbody
    - @targets.each do |target|
      %tr
        %td.uri= link_to(target.uri, target.uri)
        %td.rating
          %ul
            - (1..5).each do |rating|
              %li= h target.rating_count(rating)
        %td.comments
          %ul
            - target.recent_comments.each do |comment|
              %li= h comment.message
            %li= link_to 'more...', "/target/#{target.id}"
 
